{% extends 'temp_inheritance/base.html' %}
{% block content %}
{% load static %}
<div style="margin-top: 12px;">
<img  src="{% static 'temp_inheritance/pricing.jpeg' %}" alt="pricing image">
</div>
<h1>Laptop Prices</h1> <br>

<table class="table table-striped  table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Laptop</th>
            <th scope="col">Warranty</th>
            <th scope="col">Price</th>
            <th scope="col">Stock Avilable</th>
        </tr>
    </thead>
    <tbody>
        {% for item in prices %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{item.laptop}}</td>
            <td>{{item.warranty}}</td>
            <td>{{item.price}}</td>
            <td>{{item.avilable}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>


{% endblock %}