<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    <!-- <style>
        h1{
            color: green;
            flex-direction: column;
        }
    </style> -->
</head>
<body>
    <!-- <h1 style="color: aqua;">Hello I'm learning Python</h1> -->
    <h1>Hello I'm learning Python</h1>
</body>
</html>